body { 
	background-color: rgba(0, 0, 0, 0); 
	margin: 0px auto; 
	overflow: hidden; 
}

.app {
	display: grid;
	width: 1920px;
	height: 1080px;
	.Background, .Current {
		grid-column: 1;
		grid-row: 1;
	}
	.Background {
		z-index: 0;
	}
	.Current {
		z-index: 1;
	}
}